<!-- Modal / Account create-->
<div class="modal fade" id="myModal" role="dialog"  xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Введите номер нового счета</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form action="#" th:action="@{/create_new}" method="POST"
                      th:object="${account}" role="form" autocomplete="off">
                    <div class="form-group">
                        <label th:label="*{accounNumber}">Номер счёта</label>
                        <input type="text"  th:field="*{accounNumber}" class="form-control"
                               placeholder="Введите номер нового счёта" />
                    </div>
                    <button type="submit" value="Submit" class="btn btn-primary btn-block" name="action"> Создать</button>
                    <button type="reset" class="btn btn-default btn-block" data-dismiss="modal"> Отмена</button>
                </form>
            </div>
        </div>
    </div>
</div>