<!-- Modal / Transfer -->
<div class="modal fade" id="transfer_modal" role="dialog" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Введите номер счёта получателя</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form action="#" th:action="@{/transfer_to}" method="POST"
                      th:object="${transferMoney}" role="form" autocomplete="off">
                    <div class="form-group">
                        <input th:type="hidden" name="fromAccountNumber" th:value="${account_entity.accounNumber}"/>
                        <label th:label="*{toAccountNumber}">Введите номер счёта получателя</label>
                        <input type="text"  th:field="*{toAccountNumber}" class="form-control"
                               placeholder="Счёт получателя" />
                    </div>
                    <div class="form-group">
                        <label th:label="*{amount}">Введите сумму перевода</label>
                        <input type="text"  th:field="*{amount}" class="form-control"
                               placeholder="Введите сумму" />
                    </div>
                    <button type="submit" value="Submit" class="btn btn-primary btn-block" name="action"> Создать</button>
                    <button type="reset" class="btn btn-default btn-block" data-dismiss="modal"> Отмена</button>
                </form>
            </div>
        </div>
    </div>
</div>