<!DOCTYPE html>
<div class="container-fluid" xmlns:th="http://www.thymeleaf.org">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="btn btn-default glyphicon glyphicon-home navbar-btn navbar-left" href="#" th:href="@{/}"></a>
        <form class="navbar-form navbar-left" role="search" action="#" th:action="@{/find_by_number}" method="POST" role="form" autocomplete="off">
            <div class="form-group">
                <input name="number" type="text" class="form-control" placeholder="Найти счёт">
            </div>
            <button type="submit" class="btn btn-default">Искать</button>
        </form>
        <form class="navbar-form navbar-left" role="search" action="#" th:action="@{/show_history_by_number}" method="POST" role="form" autocomplete="off">
            <div class="form-group">
                <input name="number" class="form-control" placeholder="История по счёту">
            </div>
            <button type="submit" class="btn btn-default">Запросить</button>
        </form>
    </div>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-default navbar-btn" id="myBtn" data-toggle="modal" data-target="#myModal">Создать счёт</button>
    <!--<button type="button" class="btn btn-default navbar-btn" id="myBtn" data-toggle="modal" data-target="#transferModal">Перевести сумму на счёт</button>-->
    <!--<a class="btn btn-default navbar-btn " href="#" th:href="@{/}">Заполнить</a>-->
</div>
