<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap Template</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default">
        <div th:include="fragment/navigable_header_index"/>
    </nav>

    <div th:if="${account_new != null}">
        <h4>Создан счёт: </h4> <h4 th:text="${account_new.getAccounNumber}"> </h4>
    </div>
    <div class="col-md-8" th:unless="${#lists.isEmpty(account_list)}">
        <h3>Список счетов пользователя</h3>
        <table class=table">
            <thead>
                <tr>
                    <td>Номер счёта</td>
                    <td>Текущий баланс</td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
            <tr th:each="account:${account_list}">
                <td th:text="${account.accounNumber}"></td>
                <td th:text="${account.balance}"></td>
                <td> <a th:href="'/find_by_number/' + ${account.accounNumber}">Подробнее</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:include="fragment/modal_account_create"></div>
    <!--<div th:include="fragment/modal_transfer"></div>-->

    <div th:include="fragment/navigable_footer"></div>

</body>
</html>