<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default">
        <div th:include="fragment/navigable_header"/>
    </nav>
    <div th:if="${#lists.isEmpty(account_history)}">
        <h4>История транзакций по счёту отсутствует. </h4>
    </div>
    <div th:if="${!#lists.isEmpty(account_history)}">
        <div class="col-md-offset-2"/>
        <h3 class="col-md-8" th:text="'История транзакций по счёту: '+${account_entity.accounNumber}"></h3>
        <!--<div th:with="firstUrl=/pages/1"/>-->
        <!--<div th:with="lastUrl=/pages/${deploymentLog.totalPages}"/>-->
        <!--<div th:with="prevUrl=/pages/${currentIndex - 1}"/>-->
        <!--<div th:with="nextUrl=/pages/${currentIndex + 1}"/>-->

        <div class="col-md-8" th:unless="${#lists.isEmpty(account_history)}">
            <table class=table">
                <thead>
                <tr>
                    <td>Дата</td>
                    <td>Со счёта</td>
                    <td>На счёт</td>
                    <td>Сумма</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction:${account_history}">
                    <td th:text="${transaction.timestampdate}"></td>
                    <td th:text="${transaction.fromAccountNumber}"></td>
                    <td th:text="${transaction.toAccountNumber}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-offset-2"/>
    </div>

    <div th:include="fragment/navigable_footer"/>

</body>
</html>