<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default">
        <div th:include="fragment/navigable_header"
    </nav>

    <div class="col-md-offset-2"></div>
    <div class="col-md-8">
        <h3>Результат поиска счёта</h3>
        <div th:if="${account_entity == null}">
            <h4>Не удалось найти счёт. </h4>
        </div>
        <div th:if="${account_entity != null}">
            <h4 th:text="'Найден счёт: '+${account_entity.accounNumber}"> </h4>
            <p th:text="'Баланс счёта: '+ ${account_entity.balance}"></p>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-default navbar-btn" id="myBtn" data-toggle="modal" data-target="#addmoney_modal">Пополнить баланс</button>
            <button type="button" class="btn btn-default navbar-btn" id="myBtn" data-toggle="modal" data-target="#transfer_modal">Перевести на счёт</button>
            <a class="btn btn-default navbar-btn " href="#" th:href="@{/show_history_by_number/}+${account_entity.accounNumber}">Посмотреть историю транзакций</a>
        </div>
    </div>
    <div class="col-md-offset-2"></div>

    <div th:include="fragment/modal_transfer"></div>
    <div th:include="fragment/modal_addmoney"></div>
    <div th:include="fragment/navigable_footer"/>
</body>
</html>