<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap Template</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default">
        <div th:include="fragment/navigable_header_index"/>
    </nav>

    <div class="col-md-offset-2"></div>
    <div class="col-md-8">
    <h2>Ошибка</h2>
        <h4 th:utext="'<b>Описание: </b>' + ${exception.message}">${exception.message}</h4>
        <p th:if="${url}">
            <b>Страница:</b> <span th:text="${url}">Page URL</span>
        </p>

        <p th:if="${timestamp}" id='created'>
            <b>Время:</b> <span th:text="${timestamp}">Timestamp</span>
        </p>

        <p th:if="${status}">
            <b>Response Status:</b>
            <span th:text="${status}">status-code</span>
            <span th:if="${error}" th:text="'('+${error}+')'">error ...</span>
        </p>


        <!--  Some Hidden Exception Details          -->
        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
        <div th:utext="'Exception: ' + ${exception.message}" th:remove="tag">${exception.message}</div>
        <ul th:remove="tag">
            <li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span
                    th:utext="${ste}" th:remove="tag">${ste}</span></li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>

    </div>
    <div class="col-md-offset-2"></div>
    <div th:include="fragment/navigable_footer"></div>

</body>
</html>